<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>308444590025-7s8jbn37oqoacbae1f7k0jrrc5mlkcum.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.308444590025-7s8jbn37oqoacbae1f7k0jrrc5mlkcum</string>
	<key>API_KEY</key>
	<string>AIzaSyD2sAVYlVNSN7XJgwjOjF1PdOYPOSWoPeo</string>
	<key>GCM_SENDER_ID</key>
	<string>308444590025</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.veronikababii.FluffyFriends</string>
	<key>PROJECT_ID</key>
	<string>fluffyfriendsapp</string>
	<key>STORAGE_BUCKET</key>
	<string>fluffyfriendsapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:308444590025:ios:f7e29d3e444e380c82c218</string>
	<key>DATABASE_URL</key>
	<string>https://fluffyfriendsapp.firebaseio.com</string>
</dict>
</plist>